.container-toolbar{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.input-filter-search{
    padding: 12px 14px;
    border-radius: 14px;
    border: 1px solid rgb(94 45 22);
    background: rgba(255, 255, 255, 0.5);
    color: #5e2d16;
    outline: none;
    width: 25%;
}
.input-filter-select{
    padding: 10px 12px;
    border-radius: 14px;
    border: 1px solid rgb(94 45 22);
    background: rgba(255,255,255,0.5);
    color: #5e2d16;
    width: 15%;
}

.button-filter-reset{
    padding: 10px 12px;
    border-radius: 10px;
    border: 1px solid rgba(120, 80, 50, 0.18);
    background: rgb(94 45 22);
    cursor: pointer;
}



