.marker {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 50px;
  height: 50px;

  border-radius: 50% 50% 50% 0;
  transform: rotate(-45deg);

  background-color: #C46A2E;
  box-shadow: 0 4px 10px rgba(0,0,0,0.25);
  cursor: pointer;
}

.marker-icon {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.marker-ceramics_pottery, .clay_sculpture{
  background-color: #c9aba0;
}

.icon-ceramics_pottery, .icon-clay_sculpture{
  color:#C46A2E;
}