.container{
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;

}

.left-side-sign{
    width: 100vw;
    overflow-x: hidden;
    background-color: #f8fafb;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.img-sign{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    width: 100%;

}
.right-side-sign{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    position: relative;
    color: black;
    padding: 0 80px;
    width: 560px;
    background-color: #f5efe8;
}

.name, .title-form{
    color: #5e2d16;
    font-size: 80px;
}

.title-form{
    margin-top: 0px;
    font-size: 32px;
}

.form-field { 
    display: flex; 
    flex-direction: 
    column; 
    gap: 6px; 
    margin-bottom: 12px; 
    text-align: left;
}
.form-field input, .form-field textarea, .form-field select{
  border-radius: 10px;
  border: 1px solid rgba(60,40,30,0.18);
  padding: 10px 12px;
  background: rgba(255,255,255,0.65);
  outline: none;
  color: #663520;
  
}

.form-sign{
    width: 100%;
    color: #8a3b23;
}

.p-sign{
    color: #8a3b23;
}

.a-sign{
    font-weight: 900;
    font-size: 20px;
}

.form-container-sign{
    box-shadow: none !important;
}