
.sidebar {
  background-color: rgb(35 55 75 / 90%);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  margin: 12px;
  border-radius: 4px;
}

.reset-button {
  position: absolute;
  z-index: 1;
  padding: 4px 10px;
  border-radius: 10px;
  cursor: pointer;
}